{% extends 'base.html.twig' %}


{% block body  %}

        <div class="container mt-4 ">
            <div class="jumbotron">
    <h1 class="display-5"><b>Welcome to Haddad's Shop !</b></h1>
    <p class="lead"><b>Welcome to our online store.
     Our goal is to offer you affordable products through our selection of quality manufacturers.
      Our team is here to help you find the products that best suit your needs and provide an easy and secure online shopping experience.
     Join our community and discover our exceptional products!</b></p>
    <hr class="my-4">
    <p>to start pleas hit the inscription button </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
    </p>
    </div>
        </div>
    
{% endblock %}
